<html>
  <head>
    <title>Intern::Bookmark::Top</title>
  </head>
  <body>
    <h1>Intern Bookmark</h1>
    {{#visitor}}
    <p>Hello, {{visitor.name}} !</p>
    <p><a href="/logout">You can logout! (TODO)</a></p>
    {{/visitor}}
    {{^visitor}}
    <p>Hello, Guest !</p>
    <p><a href="/login">You can login!</a></p>
    {{/visitor}}
    <p>{{message}}</p>
  </body>
</html>

