<html>
  <head>
    <title>Intern::Bookmark::Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Your User Name">
    <input type="submit" value="Start">
    </form>
  </body>
</html>

